.works-container {
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--offwhite);
}

.works-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.works-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0px;
    border-bottom: 3px solid var(--green-700);
}

.works-top h2 {
    color: var(--green-700);
    font-family: var(--poppins);
    font-size: 30px;
    font-weight: 700;
}

.works-top span {
    border-radius: 8px;
    padding: 10px 25px;
    border: 2px solid var(--green-700);
}

.works-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-height: 320px;
    margin-top: 40px;
    gap: 20px;
}

.works-item-left,
.works-item-right {
    width: 45%;
}

.works-item-right h3 {
    color: var(--black);
    font-family: var(--poppins);
    font-size: 25px;
    font-weight: 600;
}

.works-item-right p {
    color: var(--black);
    font-family: var(--poppins);
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0px;
}

.works-item-right button {
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--poppins);
    font-size: 13px;
    background: var(--green-700);
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s ease;
}

.works-item-right button:hover {
    background-color: var(--white);
    color: var(--green-700);
    border: 1px solid var(--green-700);
}

.works-item-left img {
    height: 100%;
    width: 100%;
    max-height: 320px;
    border-radius: 20px;
    object-fit: cover;
}